* {
    padding:0;
    margin:0;
    border:0;
}

header {
    background-color: rgb(112, 42, 241);

    display: flex;
    justify-content: space-between;
    align-items: center;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

body {
    background-color: rgb(160, 155, 236);
    font-family:OpenSans, sans-serif;
}

header,
main,
footer

{
    padding: 10px;
}

header #Logo img {
    width: 120px;
    height: auto;
    position: relative;
    animation-name: girar;
    animation-duration: 4s;
    animation-iteration-count: 5;
}
  @keyframes girar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  
nav {
    background-color: rgb(112, 42, 241);

    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;

    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    display: inline-block;
    margin-right: 10px;
}

section.row div {
    background-color: chocolate;
    border: 1px solid black;
}

.button {
    text-decoration: none;
    background-color: rgb(60, 46, 250);
    padding: 10px;
    color: rgb(247, 248, 248);

    border-radius: 5px;
    border-top-right-radius: 10px;

    box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);

    transition: 0.2s all;
}

.button:hover {
    background-color: rgb(112, 42, 241);
    color: white;
}
#Contactanos{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    justify-items:center;
    /*width: 30vp auto;
    margin: 30px auto;*/
    Background-color: rgb(160, 155, 236);
    padding: 25px;
}
.formulario form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 10px;
    grid-column-gap:5px;
    width: 30vw;
    Background-color: rgb(160, 155, 236);
    padding: 15px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.columnBorder {
  border: 1px solid;
  flex: 50%;
  padding: 5px;
}

.imagen{
    text-align:right;

}

.alineadorRight
{
    text-align:right;
}


#Contactanos form input[type="reset"], #Contactanos form input[type="submit"]{
    border: none;
}

.titulo {
    background-color: rgb(115, 115, 235);
    padding: 25px;
    padding-left: 10px;
    font-size: 20px;
    
}

i {
    color: black;
    transition: 0.2s all;
}

i:hover {
    color: rgb(119, 116, 117);
}

footer{
    background-color: rgb(115, 115, 235);
    padding: 25px;
       
}

#mensajeErrorPrestamo,
#mensajeErrorDevolucion,
#mensajeError{
    color: rgba(240, 7, 7, 0.74);
    text-align: center;
 }
    

footer p {
    display:inline-block;
    padding: 15px;

}

@media only screen and (max-width: 600px){
    header, main, footer {
        padding: 5px;
    }

    body {
        font-size: 10px;
        
    }

    article {
       
        width: 0%;
    }
    .imagen img {
          
         width:0%;
                
    }

}      


@media only screen and (min-width: 600px) {
    header, main, footer {
        padding: 10px;
        
    }

    body {
        font-size: 16px;
    }
.imagen img{
    width: 40%;
}

}

@media only screen and (min-width: 900px) {
    header, main, footer {
        padding: 25px;
    }
   .imagen img{
    width: 300px;
   }
  
}
