table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

tr {
  height: 1.75em;
}

tr:nth-child(even) {
    background-color: rgb(115, 115, 235);
}

#mensajeErrorLibro, #mensajeErrorUsuario,
#mensajeErrorPrestamo, #mensajeErrorDevolucion {
	font-weight: bold;
    text-align: center;
}
